<div class="laboratorio">
    <!-- <div class="recinto">
        <select>
            <option value="FEM">FEM</option>
            <option value="EPH">EPH</option>
            <option value="EMH">EMH</option>
            <option value="LNNM">LNNM</option>
            <option value="UM">UM</option>
        </select>
    </div> -->
    <!-- <div class="edificio">
        <select name="edificio">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div> -->
</div>

